@import "@/styles/_variables.scss";

.container {
  @apply flex justify-between mb-10 p-4 items-center justify-center w-1/4 h-24 rounded-lg border;
  background-color: nth($dark_palette, 3);
  border-color: nth($dark_palette, 1);

  &__correct {
    border-color: nth($answers, 1);
  }

  &__wrong {
    border-color: nth($answers, 2);
  }

  &__check {
    @apply flex items-center px-2 rounded-full border h-8 w-8;
    border-color: nth($dark_palette, 1);
    &__inner {
      @apply flex rounded-full h-4 w-4 p-0 m-0;
      background-color: nth($dark_palette, 2);
    }
  }
}

.container:hover {
  cursor: pointer;
}
