@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./_variables";
@import "./_fonts";

* {
  @apply border-0 p-0 m-0 raleway box-border;
}

:root {
  --lightMode: nth($light_palette, 1);
  --darkMode: nth($darkpalette, 3);
  @apply text-sm md:text-base;
  color: nth($light_palette, 1);
}

.bg-darkMode {
  background-color: var(--darkMode);
}

.bg-lightMode {
  background-color: var(--lightMode);
}

body {
  @apply bg-darkMode;
  min-width: 100svw;
  max-width: 100svw;
  min-height: 100svh;
  max-height: 100svh;
}
